$primary: rgb(38, 0, 255);
$secondary: red;
$main-color: green;

body {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;

    div {
        border: 1px solid $secondary;
        padding: 2rem;
    }

    h1 {
        text-decoration: underline;
        color: $main-color;
    }
    section {
        display: flex;
        flex: 1;
        flex-basis: 20ch;

        article {
            border: 1px solid $main-color;
            text-align: center;

            &:nth-child(odd) {
                color: $secondary;
            }
            &:nth-child(even) {
                color: $primary;
            }
        }
    }
}
